<form class="form-horizontal p-t-20" formControlName="journalistForm" [formGroup]="journalistForm" (submit)="save()">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">

          <h4 class="card-title">Journalist</h4>
          <h6 class="card-subtitle">Update Data</h6>



          <div class="form-group row">
            <label for="exampleInputuname3" class="col-sm-3 control-label">Name</label>
            <div class="col-sm-9">
              <div class="input-group">
                <div class="input-group-addon"><i class="ti-user"></i></div>
                <input type="text" formControlName="name" class="form-control" id="exampleInputuname3"
                  placeholder="Name">
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="exampleInputuname3" class="col-sm-3 control-label">Email</label>
            <div class="col-sm-9">
              <div class="input-group">
                <div class="input-group-addon"><i class="ti-user"></i></div>
                <input type="text" formControlName="email" class="form-control" id="exampleInputuname3"
                  placeholder="Email">
              </div>
            </div>
          </div>


          <div class="form-group row m-b-0">
            <div class="offset-sm-3 col-sm-9">
              <button type="submit" class="btn btn-success waves-effect waves-light">
                <i class="fa fa-save"></i>
                Save
              </button>
            </div>
          </div>

        </div>
      </div>
    </div>


    <div class="col animated fadeIn fast">
      <div class="card">
        <div class="card-body">

          <h4 class="card-title">Subscripciones</h4>

          <ul class="list-group">



            <li *ngFor="let data of listJournalist ;let i = index;"
              class="list-group-item d-flex justify-content-between align-items-center" formArrayName="subscriptions">
              <div>

                <!-- <input type="checkbox" id="{{data.id}}" value="{{data.id}}"
                [formControlName]="data.id"  />
                <label class="checkbox-label" for="{{data.id}}">{{ data.name }}</label> -->

           <input type="checkbox" [formControlName]="i" [id]="i"  />
          <label class="checkbox-label" for="{{i}}">{{data.name}}</label>




              </div>



          </ul>



          <!-- <ng-container *ngFor="let data of listJournalist; let i=index">
            <div>
              <input type="checkbox"  id="{{data.id}}" value="{{data.id}}" name="{{data.id}}"   formArrayName="subcriptions" />
              <label class="checkbox-label" for="{{i}}">{{ data.name }}</label>
            </div>
          </ng-container> -->



          <!-- <div class="col-md-12">
            <p *ngFor="let n of listJournalist; let i = index" formArrayName="subcriptions">
              <input type="checkbox" class="form-check-input" (change)="updateChkbxArray(n.id, $any($event.target).checked, 'subcriptions')" [value]="n.id" id="subcriptions">
              {{n.name}}
            </p>
        </div> -->
          <!-- <ul class="list-group">
          <li *ngFor="let item of listJournalist ;let i = index" class="list-group-item d-flex justify-content-between align-items-center" formGroupName="subcriptions" >
            <div>
              <input type="checkbox" class="form-check-input"  [value]="item.id" [(ngModel)]="option.selected"  >

              <label class="checkbox-label">{{item.name}}</label>
            </div>

          </li>

        </ul> -->

          <!-- <h6>Cities</h6>
        <span
          class="mr-2"
          *ngFor="let city of cities; let i = index"
          formArrayName="cities"
        >
          <input type="checkbox" [formControlName]="i" [id]="i"  />
          <label class="checkbox-label" for="{{i}}">{{city}}</label>

        </span>
        <br />
        <br /> -->


        </div>
      </div>
    </div>
  </div>
  {{journalistForm.value|json}}
</form>
